@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: hsl(204, 43%, 93%);
	min-height: 100vh;
	display: grid;
	place-content: center;
	font-family: 'Karla', sans-serif;
}

.main-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-template-areas: "intro intro" 
						 "sub features";
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

	margin: 50px 50px;
}

.container {
	padding: 40px;
}

.introduction-container {
	background-color: white;
	grid-area: intro;
}

.introduction-container h1 {
	color: #3DABA1;
	margin-bottom: 30px;
}

.introduction-container h2 {
	color: #CBE167;
	margin-bottom: 18px;
}

.introduction-container p {
	color: #B8BBC1;
	font-size: 18px;
	line-height: 1.8rem;
}

.subscription-container {
	background-color: #2BB3B1;
	grid-area: sub;
	color: white;
}

.subscription-container h2 {
	font-size: 20px;
	margin-bottom: 18px;
}

.subscription-price {
	color: rgba(255, 255, 255, 0.6);
}

.subscription-container span {
	color: white;
	font-size: 36px;
	vertical-align: middle;
	font-weight: 700;
	margin-right: 8px;
}

.subscription-description {
	margin-top: 10px;
	margin-bottom: 44px;
}

.subscription-container button {
	display: block;
	background-color: #BFDF32;
	color: white;
	font-weight: 700;
	font-size: 16px;
	width: 100%;
	padding: 18px;
	border: none;
	border-radius: 6px;
	transition: background-color ease-in 0.2s;
}

.subscription-container button:hover {
	background-color: #a9c81f;
	cursor: pointer;	
}

.features-container {
	grid-area: features;
	background-color: #4ABEBD;
	color: white;
}

.features-container h2 {
	font-size: 18px;
	margin-bottom: 20px;
}

.features-container ul {
	list-style-type: none;
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
}

.features-container li {
	margin: 8px 0;
}

@media (max-width: 780px) {
	.main-container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas: "intro"
							 "sub"
							 "features";
		margin: 60px 30px;
	}

	br {
		display: none;
	}

	.container {
		padding: 30px;
		padding-bottom: 20px;
	}
}

@media (max-width: 610px) {
	.introduction-container h1 {
		font-size: 22px;
		margin-bottom: 18px;
	}


	.introduction-container h2 {
		font-size: 20px;
		margin-bottom: 16px;
	}

	.introduction-container p {
		font-size: 16px;
		line-height: 1.6rem;
	}
}

@media (max-width: 440px) {
	.introduction-container h1 {
		font-size: 20px;
		margin-bottom: 16px;
	}


	.introduction-container h2 {
		font-size: 18px;
		margin-bottom: 14px;
	}

	.introduction-container p {
		font-size: 14px;
		line-height: 1.4rem;
	}
}